* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Bitter', serif;
    font-family: 'Playfair Display', serif;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgb(150, 150, 150);

}

.cardpage {
    height: 100vh;
    grid-column: 4/10;
    background-color: rgb(241, 242, 246);
    overflow: scroll;


}

.cardgroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 5% 5% 2% 5%;

}

.card {
    width: 48%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;



    overflow: hidden;

    margin: 1%;
}


.card>div {
    flex: 1;
    padding: 10px;

}

.picture {
    max-width: 30%;
    background-color: rgb(232, 104, 129);

    color: white;

}

.face {
    height: 60%;

}

.face>img {

    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.name {
    text-align: center;
    margin: 20px 0;
    font-size: 100%;
}

.buscard {
    text-align: center;
    color: rgb(232, 104, 129);
    margin: 5px 0;
    font-size: 150%;
}

span.subject {
    font-weight: 700;
}

.content {
    font-size: 100%;

}

.content>div {
    margin: 10px 0;
}

.footerBar {
    min-height: 5%;
    width: 100%;
    background-color: white;
    position: sticky;
    bottom: 0;

    box-shadow: 0 -10px 20px rgba(60, 60, 60, 0.2);
}